body {
  .post-container {
    h2 {
      margin-top: 72px;
    }

    h3 {
      padding: 5px 10px;
      border-left: 5px solid $navigator-background-color;
      margin-top: 48px;
    }

    h4 {
      margin-top: 40px;
    }

    h5 {
      font-size: 16px;
      font-weight: 500;
      margin-top: 32px;
    }

    h2 + h3,
    h3 + h4,
    h4 + h5 {
      margin-top: 20px;
    }

    details {
      margin-bottom: 32px;
    }

    p {
      margin-bottom: 16px;
    }

    ol,
    ul {
      margin-left: 1.8rem;
    }

    li > ol,
    li > ul {
      margin-left: 1.325rem;
    }

    ul p,
    ol p {
      margin-bottom: 6px;
    }

    ul > li:last-child,
    ol > li:last-child {
      margin-bottom: 12px;
    }

    blockquote {
      border-left: 5px solid hsla(0, 0%, 0%, 0.13);
    }

    .up-button {
      background-image: linear-gradient(
        to right,
        #9d50bb 0%,
        #9d50bb 51%,
        #6e48aa 100%
      );
      color: white;
      border-radius: 5px;
      padding: 3px 5px 3px 5px;
      font-weight: bold;
      transition: all 0.2s ease-in-out;
      &:hover {
        box-shadow: 1px 1px 5px 0 #666666;
      }
    }

    .quote-block {
      border: 2px solid none;
      border-radius: 10px;
      padding: 16px;
      margin-top: 24px;
      margin-bottom: 18px;
      display: flex;
      justify-content: flex-start;
      font-size: 14px;
      .quote-block__emoji {
        font-size: 24px;
        margin-right: 10px;
      }
      .quote-block__content {
        padding-right: 6px;
        p {
          margin-bottom: 0;
        }

        p:first-child {
          margin-bottom: 4px;
          font-weight: bold;
        }
      }
    }

    .quote-block-simple {
      border: 2px solid none;
      border-radius: 10px;
      padding: 16px;
      margin-top: 24px;
      margin-bottom: 18px;
      display: flex;
      justify-content: flex-start;
      font-size: 14px;
      .quote-block-simple__emoji {
        font-size: 18px;
        margin-right: 10px;
      }
      .quote-block-simple__content {
        padding-right: 6px;
        display: flex;
        align-items: center;
        p {
          margin-bottom: 0;
        }
      }
    }

    .src {
      color: #999999;
      a {
        opacity: 0.7;
      }
    }
  }
}
